{% extends 'default/layout.html.twig' %}

{% block title 'Report Menu' %}

{% block stylesheets %}
    <style>
        table tr td:nth-child(2) { width: 50% }
    </style>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tr>
            <th colspan="2" class="bg-info lead">
                <strong>Group</strong>
            </th>
        </tr>
        <tr>
            <td>Entity</td>
            <td>{{ include('action.html.twig', {'url': path('report_entity_index'), 'label': 'Show', 'button': 'btn btn-info', 'icon': 'glyphicon glyphicon-info-sign'}) }}</td>
        </tr>
    </table>
{% endblock %}
