.memo
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.memo .full
{
    width: 100%;
}

.memo .left
{
    text-align: left;
}

.memo .center
{
    text-align: center;
}

.memo .right
{
    text-align: right;
}

.memo .justify
{
    text-align: justify;
}

.memo .header
{
    font-weight: bold;
    text-align: right;
}

.memo .table
{
    text-align: left;
    position: static;
}

.memo .note
{
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
    text-align: left;
}